#projects {
    font-family: "Space Mono", monospace;
    background-color: #ffffff;
    /* min-height: 520px; */
    padding: 20px;
}

#projects-title {
    font-family: "Space Mono", monospace;
    /* color: #1c2833; */
    color: black;
    background-color: white;
    padding: 10px 30px;
    margin: 0;
}

@media only screen and (min-width: 960px) {
    #projects {
        padding: 20px 10%;
    }

    #projects-title {
        margin: 0 0 0 10%;
    }
}
