#projects {
    font-family: "Space Mono", monospace;
    background-color: #f53240;
    /* min-height: 520px; */
    padding: 20px;
}

#title {
    font-family: "Space Mono", monospace;
    /* color: #1c2833; */
    color: white;
    padding: 10px;
    margin: 0;
}

@media only screen and (min-width: 960px) {
    #title {
        margin: 0 0 0 10%;
    }
}
