#about {
    background-color: #eaf2f8;
    padding: 5% 0;
}

#about-title {
    font-family: "Space Mono", monospace;
    color: black;
    padding: 10px 30px;
    margin: 0;
    display: block;
}

@media only screen and (min-width: 960px) {
    #about-title {
        margin: 0 0 0 10%;
    }
}

#about-icon {
    height: 250px;
    display: block;
    margin: 30px;
    padding: 5px;
    border: 2px solid #b5bdc3;
    border-radius: 50%;

    transition: filter 0.5s ease-in-out;
    -webkit-filter: grayscale(50%); /* Ch 23+, Saf 6.0+, BB 10.0+ */
    filter: grayscale(50%);
}

#about-icon:hover {
    -webkit-filter: grayscale(10%); /* Ch 23+, Saf 6.0+, BB 10.0+ */
    filter: grayscale(10%); /* FF 35+ */
}

#about-content {
    margin: auto;
    width: 80%;
    padding: 20px;
    background-color: white;
    border-radius: 10px;
    border: 2px solid #b5bdc3;
}
