#experience {
    background-color: #283747;
    min-height: 400px;
    padding: 20px;
}

#experience-title {
    color: white;
    padding: 0.5em;
    font-family: "Space Mono", monospace;
}
